{% extends 'website/base.html' %}
{% load static %}
{% load socialaccount %}
{% block body %}
<main>
  <div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="d-flex justify-content-center py-4">
              <a href="#" class="logo d-flex align-items-center w-auto">
                <span class="d-none d-lg-block">WorkDay</span>
              </a>
            </div><!-- End Logo -->
            <div class="card mb-3">
              <div class="card-body">
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">로그인</h5>
                  {% if messages %}
                  {% for message in messages %}
                  <p id="login-feedback" class="text-center small" style="color:red;">{{ message }}</p>
                  {% endfor %}
                  {% endif %}
                </div>

                <form class="row g-3" onsubmit="return false;">
                  <div class="col-12">
                    <label for="email" class="form-label">이메일</label>
                    <input type="email" name="email" class="form-control" id="email">
                    <div id="email-feedback" style="font-size:small;"></div>
                  </div>

                  <div class="col-12">
                    <label for="password" class="form-label">비밀번호</label>
                    <input type="password" name="password" class="form-control" id="password">
                    <div id="password-feedback" style="font-size:small;"></div>
                  </div>

                  <div class="col-12">
                    <button class="btn btn-primary w-100 mb-2" id="btn-login">NiceCompany 계정 로그인</button>
                    <a href="{% url "website:google_login" %}" class="btn btn-outline-secondary w-100" id="google-login"><img src="{% static "image/Google.webp" %}" alt="" style="width:21px;padding-right:2px;"> 구글 계정 로그인</a>
                  </div>
                  <div class="col-12">
                    <p class="small mb-0">계정이 없나요? <a href="{% url 'website:register' %}">계정 생성하기</a></p>
                    <p class="small mb-0">계정을 잊어버리셨나요? <a href="">계정 찾기</a></p>
                  </div>
                </form>

              </div>
            </div>

          </div>
        </div>
      </div>

    </section>

  </div>
</main><!-- End #main -->
{% endblock body %}
{% block javascripts %}
<script src="{% static 'js/website/auth/login.js' %}"></script>
{% endblock javascripts %}