{% extends 'website/base.html' %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/css/bootstrap-select.min.css">
{% endblock stylesheets %}
{% block body %}
<main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="{% url 'website:register' %}" class="logo d-flex align-items-center w-auto">
                  <span class="d-none d-lg-block">Workday</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">계정 생성</h5>
                    <p class="text-center small">* 계정 생성 승인 후 로그인이 가능합니다.</p>
                  </div>

                  <form class="row g-3" id="registerForm" onsubmit="return false;">
                    <div class="col-12">
                      <label for="membername" class="form-label">이름</label>
                      <input type="text" name="membername" class="form-control" id="membername">
                      <div id="membername-feedback" style="font-size:small"></div>
                    </div>
                    
                    <div class="col-12">
                      <label for="email" class="form-label">개인 이메일</label>
                      <div class="input-group has-validation">
                        <input type="email" name="email" class="form-control" id="email">
                        <button class="btn btn-secondary btn-sm" class="form-control" id="check-dupl-email">중복 검사</button>
                      </div>
                      <div id="email-feedback" style="font-size:small"></div>
                    </div>
                    
                    <div class="col-12">
                      <label for="password" class="form-label">비밀번호</label>
                      <input type="password" name="password" class="form-control" id="password">
                      <div id="password-feedback" style="font-size:small">숫자와 영문자 조합으로 8~16자리를 사용해야 합니다.</div>
                    </div>
                    
                    <div class="col-12">
                      <label for="check-password" class="form-label">비밀번호 확인</label>
                      <input type="password" name="check_password" class="form-control" id="check-password">
                      <div id="check-password-feedback" style="font-size:small"></div>
                    </div>
                    
                    <!-- Button trigger modal -->
                    
                    <div class="col-12">
                      <label for="phone-no" class="form-label">전화번호</label>
                      <input type="text" name="phone_no" class="form-control" placeholder="000-0000-0000" id="phone-no">
                      <div id="phone-no-feedback" style="font-size:small"></div>
                    </div>

                    <div class="col-12">
                      <label for="image" class="form-label">프로필 이미지</label><br>
                      <input type="file" class="form-control" name="image" id="image">
                      <div id="image-feedback" style="font-size:small">* 얼굴이 나오는 이미지를 입력해주세요</div>
                    </div>

                    <div class="col-12">
                      <div id='divGroupsSelect'>
                        <label for="company" class="form-label">회사명</label><br>
                        <select id='company' name='company_id' class="form-control selectpicker" data-style-base='form-control' data-live-search="true" onChange="getDepartmentList();" placeholder="근무하는 회사를 선택해주세요.">
                          <option value="" disabled>근무하는 회사를 검색해보세요.</option>
                          {% if companys %}
                          {% for company in companys %}
                          <option value="{{ company.id }}">{{ company.name }}</option>
                          {% endfor %}
                          {% endif %}
                        </select>
                        <div id="company-feedback" style="font-size:small;color:red;"></div>
                      </div>
                    </div>

                    <div class="col-12" id="departmentSelect" style="display:none;">
                      <label for="department" class="form-label">부서명</label><br>
                      <select id='department' name="department_id" class="form-select" placeholder="부서를 선택해주세요.">
                      </select>
                      <div id="department-feedback" style="font-size:small;color:red;"></div>
                    </div>

                    <div class="col-12">
                      <button class="btn btn-primary w-100" id="btn-submit">신청</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">이미 계정이 있나요? <a href="{% url 'website:login' %}">로그인</a></p>
                    </div>
                  </form>

                </div>
              </div>

            </div>
          </div>
        </div>
        
      </section>

    </div>
  </main><!-- End #main -->

{% endblock body %}
{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/js/bootstrap-select.min.js"></script>
<script src="{% static 'js/website/auth/register.js' %}"></script>
{% endblock javascripts %}