{% extends 'website/base.html' %}
{% load static %}
{% block main %}
<main id="main" class="main">

  <div class="pagetitle mt-2 mb-5">
    <h1>자유 게시판</h1>
  </div><!-- End Page Title -->

  <section class="section profile">
    <div class="card">
      <div class="card-body">
        <div class="profile-overview" id="profile-overview" style="padding:20px;">
          <a href="javascript:;" style="float: right;" onclick="deleteBoard({{board.id}});"><i class="bi bi-trash"></i> 삭제하기</a>
          <h3 class="mt-4 mb-4">{{board.title}}</h3>
          <p>작성일: {{board.created_at}}</p>
          <p>구분: {{board.board_type.type_name}}</p>
          <p>작성자: {% if board.anonymous_flag == "0" %}{{board.user.username}}{% else %}비공개{% endif %}</p>
          <hr class="mb-5">
          <div style="min-height:300px;">
            {{board.content}}
          </div>
          <hr class="mt-5">
          <a href="{% url 'website:free_board' %}" type="button" class="btn btn-primary" style="float: right;">목록보기</a>
        </div>
      </div>
    </div>
  </section>

  <section class="section profile">
    <div class="card">
      <div class="card-body">
        <div class="profile-overview" id="profile-overview" style="padding:20px;">
          <h5 class="mt-4"><i class="bi bi-chat-dots"></i> 댓글</h5>
          <hr>
          <p style="text-align:center;">댓글이 없습니다.</p>
          <hr>
        </div>
      </div>
    </div>
  </section>

</main><!-- End #main -->
{% endblock main %}
{% block javascripts %}
<script src="{% static 'js/website/free_board/free_board_detail.js' %}"></script>
{% endblock javascripts %}